<div class="row">
  <div class="col-md-2">
    <div class="center">
      
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><%= current_user.fullname %></div>
  
    </div>
  </div>

  <div class="col-md-9">

  
    <!-- Your Listings -->
    <div class="panel panel-default">
      <div class="panel-heading">Your Listings (<%= @rooms.length %>)</div>
      <div class="panel-body">
        <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
      </div>
    </div>

  </div>
</div>
